body{
  margin: 0px;
  background-image: url('https://w.wallhaven.cc/full/yj/wallhaven-yjk9gx.jpg');
  background-size: cover;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.mainDiv{
  width: 95%;
  height: 95%;
  margin: auto;
  margin: 20px 35px;
  opacity: 0.6;

  overflow: hidden;

  border: 2px solid #C39292;
  background: #1B1833;

  color: #A888B5;
  font-size: 62.em;
}

.container{
  display: flex;
  gap: 10px;
  background: #fffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px (0,0,0,0.1);
}


input, select, button{
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccccc;
  border-radius: 5px;
}

button{
  display: none
}
